[submodule "proto"]
	path = proto
	url = http://github.com/matrix-io/protocol-buffers.git
[submodule "appsfortesting"]
	path = test/fixtures/testapps
	url = http://github.com/matrix-io/matrix-srcjs-apps.git
