Source: matrix-os
Section: unknown
Priority: optional
Maintainer: unknown <pi@raspberrypi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/matrix-os.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/matrix-os.git;a=summary

Package: matrix-os
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
