Source: matrix-os
Section: embedded
Priority: optional
Maintainer: Admobilize <appdev@admobilize.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/matrix-os

Package: matrix-os
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git bluetooth bluez blueman libusb-1.0-0-dev libudev-dev
Description: 
